<!-- products.handlebars -->

<h1>Productos</h1>
<div class="row">
{{#each payload}}
  <div class="col-2 my-3">
    <div class="card text-center">
      <p class="card-text">{{_id}}</p>
      <h2 class="card-title">{{title}}</h2>
      <div class="card-body">
        {{#if this.thumbnail}}
      {{#each this.thumbnail}}
        <img src={{this}} class="card-img-top" alt="Imagen de producto">
      {{/each}}
    {{/if}}
        <p>{{description}}</p>
        <p>Precio: {{price}}</p>
        <p>Stock: {{stock}}</p>
        <p>Category: {{category}}</p>
        <button class="btn btn-success" onclick="addToCart('{{_id}}')">Agregar al carrito</button>
      </div>
    </div>
  </div>
{{/each}}
</div>


{{!-- Mostrar los enlaces de paginación --}}
<div class="pagination">
  {{#if prevLink}}
    <a href="{{prevLink}}">&laquo; Anterior</a>
  {{/if}}

  {{#each totalPages}}
    {{#if (isCurrentPage this ../currentPage)}}
      <span class="current-page">{{this}}</span>
    {{else}}
      <a href="/products?page={{this}}">{{this}}</a>
    {{/if}}
  {{/each}}

  {{#if nextLink}}
    <a href="{{nextLink}}">Siguiente &raquo;</a>
  {{/if}}
</div>


{{!-- Incluyo el script de Socket.IO --}}
<script src="/socket.io/socket.io.js"></script>
{{!-- Incluyo el script personalizado para manejar los eventos de WebSocket --}}
<script src="js/products.js"></script>

